{% load static %}
<!-- Header Section Begin -->
<style>
    /* Define la animación de desplazamiento */
    @keyframes marquee {
        0% { transform: translateX(10%); }
        100% { transform: translateX(-50%); }
    }

    /* Aplica la animación a la barra */
    @media (max-width: 768px) {
        .marquee {
            display: flex;
            animation: marquee 30s linear infinite; /* Duración de 30s para desplazamiento más lento */
        }
    }
</style>
<header class="bg-black">
    <div class="container mx-auto flex justify-between items-center p-4 flex-wrap">
        <a href="{% url 'core:home' %}" id="logo">
            <img src="{{ dynamic_data.image.url }}" alt="Demolitor Logo" class="h-10">
        </a>

        <!-- Menú de navegación en pantallas grandes -->
        <nav class="hidden md:flex space-x-8">
            <a href="{% url 'core:nosotros' %}" class="text-white text-l font-bold hover:text-gray-400 header_text">NOSOTROS</a>
            <a href="{% url 'core:product_list' %}" class="text-white text-l font-bold hover:text-gray-400 header_text">PRODUCTOS</a>
{#            <a href="#" class="text-white hover:text-gray-400">Contacto</a>#}
            <a href="#" class="text-white text-l font-bold hover:text-gray-400 header_text">BLOG</a>
        </nav>

        <!-- Menú hamburguesa en pantallas pequeñas -->
        <div class="md:hidden">
            <button id="menu-toggle" class="text-white p-2 rounded-full focus:outline-none">
                <i class="fas fa-bars"></i>
            </button>
        </div>

        <!-- Campo de búsqueda y botón en pantallas grandes -->
        <div class="hidden md:flex items-center space-x-4">
            <!-- Ícono de lupa -->
            <button id="search-icon" class="text-white p-2 rounded-full">
                <i class="fas fa-search"></i>
            </button>
            <button id="search-icon" class="text-white p-2 rounded-full">
                <i class="fas fa-shopping-cart"></i>
            </button>
            <button id="search-icon" class="text-white p-2 rounded-full">
                <i class="fas fa-user"></i>
            </button>

            <!-- Campo de búsqueda oculto que se muestra al hacer clic en el ícono de lupa -->
            <input id="search-input" type="text" placeholder="Buscar" class="bg-black hidden border-b-2 p-2 focus:outline-none text-white w-full md:w-64">

            <!-- Botón de contáctanos -->
{#            <button class="text-white bg-[rgb(222,55,5)] px-4 py-2 rounded hover:bg-red-700">Contáctanos</button>#}
        </div>
    </div>

    <!-- Barra de categorías -->
    <div class="bg-[#DE3704] py-2 flex space-x-4 overflow-x-auto flex-nowrap justify-start md:justify-center text-sm">
        <div class="marquee flex space-x-4 flex-nowrap">
            {% for category in dynamic_data.category_company.all %}
                <a href="/products/?category_uuid={{ category.uuid }}" class="text-white px-8 py-2 hover:text-black font-bold whitespace-nowrap header_text">{{ category.name|upper }}</a>
            {% endfor %}
        </div>
    </div>

    <!-- Menú móvil -->
    <div id="mobile-menu" class="fixed inset-0 bg-black bg-opacity-90 text-white hidden flex flex-col items-center justify-center space-y-8 z-50">
        <a href="{% url 'core:nosotros' %}" class="text-white text-2xl hover:text-gray-400 block">Nosotros</a>
        <a href="{% url 'core:product_list' %}" class="text-white text-2xl hover:text-gray-400 block">Productos</a>
        <a href="#" class="text-white text-2xl hover:text-gray-400 block">Contacto</a>
        <a href="#" class="text-white text-2xl hover:text-gray-400 block">Blog</a>

        <!-- Ícono de lupa en menú móvil -->
        <div class="flex items-center space-x-4">
            <button id="search-icon-mobile" class="text-white p-2 rounded-full">
                <i class="fas fa-search"></i>
            </button>
            <!-- Campo de búsqueda para el menú móvil -->
            <input id="search-input-mobile" type="text" placeholder="Buscar" class="bg-black hidden border-b-2 p-2 focus:outline-none text-white w-full">
        </div>

        <!-- Botón de contáctanos en el menú móvil -->
        <button class="text-white bg-[rgb(222,55,5)] px-4 py-2 rounded hover:bg-red-700">Contáctanos</button>
    </div>

    <!-- Botón de cerrar (X) en la esquina superior derecha -->
    <button id="menu-close" class="text-white absolute top-4 right-4 text-3xl z-50 hidden">
        &times;
    </button>
</header>
<!-- Header Section End -->

<script>
    // Toggle para el menú móvil
    document.getElementById('menu-toggle').addEventListener('click', function() {
        const mobileMenu = document.getElementById('mobile-menu');
        const closeButton = document.getElementById('menu-close');
        mobileMenu.classList.toggle('hidden');
        closeButton.classList.toggle('hidden');
    });

    // Cerrar el menú móvil
    document.getElementById('menu-close').addEventListener('click', function() {
        const mobileMenu = document.getElementById('mobile-menu');
        const closeButton = document.getElementById('menu-close');
        mobileMenu.classList.add('hidden');
        closeButton.classList.add('hidden');
    });

    // Mostrar/ocultar el campo de búsqueda en pantallas grandes
    document.getElementById('search-icon').addEventListener('click', function() {
        const searchInput = document.getElementById('search-input');
        searchInput.classList.toggle('hidden');
    });

    // Mostrar/ocultar el campo de búsqueda en el menú móvil
    document.getElementById('search-icon-mobile').addEventListener('click', function() {
        const searchInputMobile = document.getElementById('search-input-mobile');
        searchInputMobile.classList.toggle('hidden');
    });

</script>