{% extends "web/base.html" %}
{% load static %}
{% block social_facebook %}
  <meta property="og:url"           content="" />
  <meta property="og:type"          content="article" />
  <meta property="og:title"         content="" />
  <meta property="og:description"   content="" />
  <meta property="og:image"         content="" />
  <meta property="og:image:width"   content="1920"/>
  <meta property="og:image:height"   content="1079" />
{% endblock social_facebook %}
{% block css %}
<style>

</style>
{% endblock css %}
{% block content %}
<section class="bg-white p-8 h-max container mx-auto">
    <!-- Breadcrumb -->
    <div class="container mx-auto mt-8">
        <nav class="text-gray-600 ">
            <a href="#" class="pr-4 hover:underline hover:text-[#F06A32] hover:font-bold">HOME </a>
            <i class="fas fa-chevron-right"></i>
            <a href="#" class="px-4 hover:underline hover:text-[#F06A32] hover:font-bold"> PRODUCTOS</a>
        </nav>
    </div>

    <!-- Main Content -->
    <div class="container mx-auto mt-4 flex flex-col md:flex-row">
        <!-- Sidebar -->
        <div class="w-full md:w-1/4 pr-4 text-black mb-8 md:mb-0">
            <div class="flex py-6">
                <!-- Tab de Categorías -->
                <div class="cursor-pointer  py-2 text-center">
                    <span class="px-4 font-semibold">CATEGORÍAS</span>
                    <div class="h-2  bg-orange-600 w-full"></div>
                </div>
                <!-- Tab de Filtros -->
                <div class="cursor-pointer  py-2 text-center">
                    <span class="px-4 font-semibold">FILTROS</span>
                    <div class="h-2  bg-gray-300 w-full"></div>
                </div>
            </div>
            <ul class="space-y-8 ">
                <li><a href="#" class="block hover:underline">Proteinas</a></li>
                <li><a href="#" class="block hover:underline">Creatinas</a></li>
                <li><a href="#" class="block hover:underline">Black Maca</a></li>
                <li><a href="#" class="block hover:underline">Colagenos</a></li>
                <li><a href="#" class="block hover:underline">Linea Sport</a></li>
                <li><a href="#" class="block hover:underline">Snacks</a></li>
            </ul>
        </div>

        <!-- Products Grid -->
        <div class="w-full md:w-3/4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8" id="product-grid">
            <!-- Aquí se cargarán los productos -->
        </div>
    </div>

</section>
{% endblock content %}
{% block js %}
    <script src="{% static 'js/product/product.js' %}"></script>
{% endblock js %}