{% extends "web/base.html" %}
{% load static %}
{% block social_facebook %}
  <meta property="og:url"           content="" />
  <meta property="og:type"          content="article" />
  <meta property="og:title"         content="{{object.name}}" />
  <meta property="og:description"   content="{{object.description}}" />
  <meta property="og:image"         content="" />
  <meta property="og:image:width"   content="1920"/>
  <meta property="og:image:height"   content="1079" />

{% endblock social_facebook %}
{% block css %}
<style>
    body, html {
        background-color: #000;
    }
    /* Modal en pantalla completa, inicialmente oculto */
    #imageModal {
        display: none; /* Cambiar a none para que esté oculto al cargar */
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(10px);
    }

    #modalImage {
        max-width: 90%;
        max-height: 90%;
        border-radius: 10px;
    }

    #imageModal span {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 2rem;
        cursor: pointer;
        color: white;
    }

</style>

{% endblock css %}

{% block content %}
    <!-- Product Details Section Begin -->
    <section class="bg-white p-8 h-max ">
        <div class="max-w container mx-auto bg-white">
            <div class="max-w-6xl mx-auto py-10 flex flex-col lg:flex-row gap-24 items-center ">
            <!-- Imagen del Producto -->
                <div class="w-full lg:w-1/2 flex justify-center">
                    <!-- Imagen del Producto con Slider -->
                    <div id="default-carousel" class="relative w-full" data-carousel="static">
                      <!-- Carousel wrapper -->
                      <div class="relative h-80 overflow-hidden rounded-lg md:h-[80vh]">
                           <!-- Item 1 -->

                            {% for product_image in product.images.all %}
                                {% if not product_image.is_info_image %}
                                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                        {% if ".mp4" in product_image.image.url or ".webm" in product_image.image.url %}
                                            <!-- Display video -->
                                            <video
                                                class="relative block w-full h-auto left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 cursor-pointer"
                                                controls
                                                onclick="openModal('{{ product_image.image.url }}', 'video')"
                                            >
                                                <source src="{{ product_image.image.url }}" type="video/mp4">
                                                Your browser does not support the video tag.
                                            </video>
                                        {% else %}
                                            <!-- Display image -->
                                            <img
                                                src="{{ product_image.image.url }}"
                                                class="relative block w-full h-auto left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 cursor-pointer"
                                                alt="..."
                                                onclick="openModal('{{ product_image.image.url }}', 'image')"
                                            >
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                      </div>
                      <!-- Slider controls -->
                        <div class="flex justify-center mt-4 md:absolute md:top-1/2 md:transform md:-translate-y-1/2 md:w-full md:justify-between md:px-8 z-50">
                            <!-- Previous Button -->
                            <button type="button" class="flex items-center justify-center w-10 h-10 rounded-full bg-black bg-opacity-50 text-white hover:bg-opacity-70 md:absolute md:left-4 z-50" data-carousel-prev>
                                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                                </svg>
                                <span class="sr-only">Previous</span>
                            </button>

                            <!-- Next Button -->
                            <button type="button" class="flex items-center justify-center w-10 h-10 rounded-full bg-black bg-opacity-50 text-white hover:bg-opacity-70 md:absolute md:right-4 z-50" data-carousel-next>
                                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                                </svg>
                                <span class="sr-only">Next</span>
                            </button>
                        </div>
                  </div>

                </div>

                <!-- Información del Producto -->
                <div class="w-full lg:w-1/2 mx-auto text-center">
                    <!-- Etiqueta de Más Comprados -->
                    {% if product.is_best_seller %}
                        <span class="bg-yellow-200 text-yellow-700 px-2 py-1 rounded-full text-sm mb-2 inline-block">Más comprados</span>
                    {% endif %}

                    <!-- Título del Producto -->
                    <h1 class="text-4xl font-bold text-gray-800 mb-4 header_text font-black">{{ product.name }}</h1>
                    <!-- Precio y Descuento -->
                    <div class="flex items-center space-x-4 mb-6 justify-center">
                        {% if product.price_discount %}
                            <span class="text-xl text-gray-800 header_text font-black line-through">S/ {{ product.price|floatformat:2 }}</span>
                            <span class="text-3xl text-gray-800 header_text font-black" id="product-price">S/ {{ product.price_discount|floatformat:2 }}</span>
                        {% else %}
                            <span class="text-3xl text-gray-800 header_text font-black" id="product-price">S/ {{ product.price|floatformat:2 }}</span>
                        {% endif %}
                    </div>
                    <!-- Selector de Sabor -->
                    <div class="mb-6">
                        <div class="flex space-x-4 justify-center">
                            {% for flavor in product.flavors.all %}
                                <button class="flavor-option px-4 py-2 border rounded-full text-gray-700 bg-gray-100 focus:bg-gray-200 focus:outline-none"
                                  onclick="selectFlavor('{{ flavor.name }}')">{{ flavor.name|capfirst }}</button>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Control de Cantidad -->
                    <div class="mb-6">
                        <label class="block text-lg font-semibold mb-2">Cantidad</label>
                        <div class="flex items-center space-x-4 justify-center">
                            <button onclick="decreaseQuantity()" class="px-4 py-2 border rounded-full text-gray-700 bg-gray-100 focus:bg-gray-200 focus:outline-none">-</button>
                            <span id="quantity" class="text-xl font-semibold">1</span>
                            <button onclick="increaseQuantity()" class="px-4 py-2 border rounded-full text-gray-700 bg-gray-100 focus:bg-gray-200 focus:outline-none">+</button>
                        </div>
                    </div>

                    <!-- Selector de Presentación -->
                    <div class="mb-6">
                        <label class="block text-lg font-semibold mb-2">Presentación</label>
                        <div class="flex space-x-6 justify-center">
                            {% for packaging in product.packagings.all %}
                                <label class="flex items-center">
                                    <input type="radio" name="packaging_option" class="form-radio h-5 w-5 text-[#DE3704]"
                                           id="option{{ forloop.counter }}" value="{{ packaging.size }}" onclick="selectPresentation('{{ packaging.size }}')">
                                    <span class="ml-2 text-gray-700">{{ packaging.size }}</span>
                                </label>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Campo de código de descuento -->
                    <div class="flex items-center space-x-4 mb-6 justify-center">
                        <input type="text" id="discount-code" placeholder="Código de dscto" class="px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-500">
                    </div>

                    <!-- Botón de Comprar -->
                    <button onclick="sendToWhatsApp()" class="w-full bg-[#DE3704] hover:bg-orange-500 text-white py-3 rounded-lg text-lg font-semibold focus:outline-none focus:ring-2 focus:ring-orange-500 header_text">
                        Comprar
                    </button>

                    <!-- Descripción del Producto -->
                    <p class="mt-6 text-gray-600 text-md">
                        {{ product.description|safe }}
                    </p>
                </div>
            </div>
        </div>

        <!-- Modal de imagen en pantalla completa -->
        <div id="imageModal" class="fixed inset-0 z-50 hidden items-center justify-center bg-black bg-opacity-70 backdrop-blur-lg">
            <span class="absolute top-5 right-5 text-white text-3xl cursor-pointer" onclick="closeModal()">&times;</span>
            <img id="modalImage" class="max-w-full max-h-full object-contain">
        </div>
        <!-- Modal de imagen en pantalla completa -->
        <div id="videpModal" class="fixed inset-0 z-50 hidden items-center justify-center bg-black bg-opacity-70 backdrop-blur-lg">
            <span class="absolute top-5 right-5 text-white text-3xl cursor-pointer" onclick="closeModal()">&times;</span>
            <img id="modalVideo" class="max-w-full max-h-full object-contain">
        </div>

    </section>
    <section>
        <div class="max-w container mx-auto py-10 flex flex-col text-white text-center font-bold delivery">
            DELIVERY GRATIS A LIMA METROPOLITANA
        </div>
    </section>
    <section class="bg-white p-8 h-max">
        <div class="bg-white w-full container mx-auto">

            <div class="max-w-6xl mx-auto py-10 flex flex-col lg:flex-row items-center gap-10">
                <!-- Lista de Características -->

                <div class="w-full lg:w-1/2">
                    <ul class="space-y-2 mb-6">
                        {% for characteristic in product.characteristics.all %}
                            {% if not characteristic.is_key_feature %}
                            <li class="flex items-center text-gray-700">
                                <div class="flex items-center justify-center w-7 h-7 bg-[#DE3704] rounded-full">
                                    <svg class="w-5 h-5 text-white" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                        <path d="M9 16.172l-5.414-5.414 1.414-1.414L9 13.344l7.586-7.586 1.414 1.414z"/>
                                    </svg>
                                </div>
                                <span class="ml-2 font-bold font-avenir tracking-widest">{{ characteristic.feature_name }}</span>
                            </li>
                            {% endif %}
                        {% endfor %}

                    </ul>
                    <div class="flex flex-col sm:flex-row mb-5 items-center sm:items-start font-avenir font-bold">
                        <p class="mr-0 sm:mr-2 text-2xl sm:text-3xl lg:text-4xl tracking-widest">Características</p>
                        <p class="text-2xl sm:text-3xl lg:text-4xl font-bold text-[#DE3704] tracking-widest">Clave</p>
                    </div>
                    <!-- Características Clave -->
                    <div class="flex flex-col sm:flex-row sm:space-x-8 space-y-4 sm:space-y-0 text-center font-avenir">
                        {% for characteristic in product.characteristics.all %}
                            {% if characteristic.is_key_feature %}
                            <div>
                                <span class="text-2xl sm:text-3xl font-black text-gray-800 tracking-widest">{{ characteristic.feature_value}}</span>
                                <p class="text-gray-600 font-black tracking-widest" >{{ characteristic.feature_name }}</p>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <!-- Imagen del Producto con Slider -->
                <div id="default-carousel" class="relative w-full lg:w-1/2" data-carousel="static">
                  <!-- Carousel wrapper -->
                  <div class="relative h-96 overflow-hidden rounded-lg md:h-[80vh]">
                      {% for product_image in product.images.all %}
                        {% if product_image.is_info_image %}
                            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                {% if ".mp4" in product_image.image.url or ".webm" in product_image.image.url %}
                                    <!-- Display video -->
                                    <video
                                        class="relative block w-full h-auto left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 cursor-pointer"
                                        controls
                                        onclick="openModal('{{ product_image.image.url }}', 'video')"
                                    >
                                        <source src="{{ product_image.image.url }}" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                {% else %}
                                    <!-- Display image -->
                                    <img
                                        src="{{ product_image.image.url }}"
                                        class="relative block w-full h-auto left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 cursor-pointer"
                                        alt="..."
                                        onclick="openModal('{{ product_image.image.url }}', 'image')"
                                    >
                                {% endif %}
                            </div>
                        {% endif %}
                      {% endfor %}
                  </div>
                    <!-- Slider controls -->
                    <div class="flex justify-center mt-4 md:absolute md:top-1/2 md:transform md:-translate-y-1/2 md:w-full md:justify-between md:px-8">
                        <!-- Previous Button -->
                        <button type="button" class="flex items-center justify-center w-10 h-10 rounded-full bg-black bg-opacity-50 text-white hover:bg-opacity-70 md:absolute md:left-4" data-carousel-prev>
                            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                            </svg>
                            <span class="sr-only">Previous</span>
                        </button>

                        <!-- Next Button -->
                        <button type="button" class="flex items-center justify-center w-10 h-10 rounded-full bg-black bg-opacity-50 text-white hover:bg-opacity-70 md:absolute md:right-4" data-carousel-next>
                            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                            </svg>
                            <span class="sr-only">Next</span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </section>

    {% if random_products %}
        <section class="bg-[#ECECEC] p-8 h-max">
            <h2 class="text-2xl md:text-5xl font-black text-black text-center py-16 tracking-[0.2em] font-arupala-grotesk">Añade a tu Compra</h2>

              <!-- Swiper -->
            <div class="swiper-container two">
                <div class="swiper-wrapper">
                    {% for random_product in random_products %}
                        <div class="swiper-slide">
                            <div class="slider-image">
                                <img src="{{ random_product.image.url }}" alt="slide 1">
                                <div class="text-center py-4">
{#                                    <div class=" bg-[#ffc30e] text-black w-32 mx-auto">#}
{#                                        Más fuerza#}
{#                                    </div>#}
                                    <div class="py-4 font-arupala-grotesk font-black tracking-[0.1em]">
                                        {{ random_product.name }}
                                    </div>
                                    <div class="flex items-center justify-center ">
                                        {% if random_product.price_discount %}
                                            <div class="grid grid-cols-2 gap-4 text-center">
                                                <p class="text-black text-2xl line-through">S/. {{ random_product.price }}</p>
                                                <p class="text-black text-2xl">S/. {{ random_product.price_discount }}</p>
                                            </div>
                                        {% else %}
                                            <div class="grid grid-cols-1 gap-4 text-center">
                                                <p class="text-black text-2xl">S/. {{ random_product.price }}</p>
                                            </div>
                                        {% endif %}

                                    </div>
                                <a href="{% url 'core:product_detail' random_product.uuid %}">
                                <button class="mt-4 text-white bg-[#DE3704] px-8 py-3 rounded-lg hover:bg-red-700 transition-colors duration-300">
                                    Ver más
                                </button>
                            </a>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </section>
    {% else %}
        <p>No hay productos recomendados.</p>
    {% endif %}
    {% endblock content %}
    {% block js %}
    <script>
        let selectedFlavor = '';
        let selectedPresentation = '';
        let quantity = 1;
        function increaseQuantity() {
            quantity++;
            document.getElementById("quantity").innerText = quantity;
        }
        function decreaseQuantity() {
            if (quantity > 1) { // Evita que el contador sea menor que 1
                quantity--;
                document.getElementById("quantity").innerText = quantity;
            }
        }
        function openModal(imageUrl, type) {
            const imageModal = document.getElementById('imageModal');
            const modalImage = document.getElementById('modalImage');
            const videoModal = document.getElementById('videoModal');
            const modalVideo = document.getElementById('modalVideo');
            if (imageModal && modalImage && type === 'image') {
                modalImage.src = imageUrl;
                imageModal.style.display = 'flex'; // Cambia el display a flex al abrir

            }
            if (videoModal && modalVideo && type === 'video') {
                modalVideo.src = imageUrl;
                videoModal.style.display = 'flex'; // Cambia el display a flex al abrir
            }
            else {
                console.error("No se encontró el elemento modal o la imagen en el DOM.");
            }
        }
        function selectFlavor(flavor) {
            selectedFlavor = flavor;

            // Remueve la clase de selección de todos los botones de sabor
            const flavorButtons = document.querySelectorAll('.flavor-option');
            flavorButtons.forEach(button => {
                button.classList.remove('selected-flavor');
            });

            // Agrega la clase de selección al botón de sabor seleccionado
            event.target.classList.add('selected-flavor');
        }
        function selectPresentation(presentation) {
            selectedPresentation = presentation;
        }
        function closeModal() {
            const modal = document.getElementById('imageModal');
            if (modal) {
                modal.style.display = 'none'; // Oculta el modal
            }
        }
        function sendToWhatsApp() {
            // Obteniendo el precio y removiendo cualquier formato de moneda
            const priceText = document.getElementById('product-price').textContent;
            const price = parseFloat(priceText.replace(',', '.').replace(/[^\d.,]/g, '').replace(',', '.')); // Extrae solo el número
            const discountCode = document.getElementById('discount-code').value;
            const productName = "{{ product.name }}";
            console.log("price", priceText.replace(/[^\d.,]/g, ''))
            // Calcular subtotal
            const subtotal = parsePrice(price.toFixed(2)) * quantity;
            const message = `Hola, quiero comprar el producto *${productName}*.\n\n` +
                            `- Sabor: ${selectedFlavor || 'No seleccionado'}\n` +
                            `- Cantidad: ${quantity}\n` +
                            `- Presentación: ${selectedPresentation || 'No seleccionado'}\n` +
                            `- Precio unitario: S/. ${price.toFixed(2)}\n` +  // Formatear precio a dos decimales
                            `- Subtotal: S/. ${subtotal.toFixed(2)}\n` +      // Formatear subtotal a dos decimales
                            `${discountCode ? `- Código de descuento: ${discountCode}` : ''}`;

            const whatsappUrl = `https://wa.me/51913137240?text=${encodeURIComponent(message)}`;
            window.open(whatsappUrl, '_blank');
        }



    </script>
    {% endblock js %}