{% extends "web/base.html" %}
{% load static %}
{% block social_facebook %}
  <meta property="og:url"           content="" />
  <meta property="og:type"          content="article" />
  <meta property="og:title"         content="" />
  <meta property="og:description"   content="" />
  <meta property="og:image"         content="" />
  <meta property="og:image:width"   content="1920"/>
  <meta property="og:image:height"   content="1079" />

{% endblock social_facebook %}

{% block css %}
<style>


</style>

{% endblock css %}
{% block content %}

<!-- Contact Form Begin -->
<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 pb-10">
                <div class="">
                    <ul class="mt-4">
                        Ubicanos en:
                        <li class="mt-2">
                            Av. Micaela Bastidas 919, Comas - Condominios Torres Vista Sol, entrada Puerta G1 (Al frente de los condominios Los Laureles)
                        </li>
                    </ul>      
                    <ul class="mt-4">Horario de atención: 
                        <li class="mt-2">Lunes a viernes de 8:30 am a 1:30 pm - 2:30 pm a 5:30 pm.</li>
                        <li class="mt-2">Sábado de 8:00 am a 1:00 pm.</li>
                    </ul>
                    <ul class="mt-4 ">
                        Correo:
                        <li class="mt-2">
                            samiexp@gmail.com
                        </li>
                    </ul> 
                    <ul class="mt-4">
                        Teléfonos: 
                        <li class="mt-2">
                            606 6656 | 951 231 391 | 960 443 148
                        </li>
                    </ul> 
                </div>
            </div>
        </div>
        <form action="#">
            <div class="row">
                
                <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="Tu nombre">
                </div>
                <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="Tu correo">
                </div>
                <div class="col-lg-12 text-center">
                    <textarea placeholder="Tu mensaje"></textarea>
                    <button type="submit" class="site-btn">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Contact Form End -->

{% endblock content %}
{% block js %}
{% endblock js %}
