{% load static %}



<section class="bg-gray-100 p-8">
      <div class="container mx-auto text-center">
        <h2 class="text-2xl font-bold text-black">También puedes encontrarnos en</h2>
        <div class="flex justify-center space-x-40 mt-8">
          <img src="{% static 'img/partners/falabella.png'%}" alt="Falabella" class="h-24">
          <img src="{% static 'img/partners/mifarma.png'%}" alt="Mifarma" class="h-24">
          <img src="{% static 'img/partners/inkafarma.png'%}" alt="Inkafarma" class="h-24">
        </div>
      </div>
</section>