{% load static %}
{% block social_facebook %}
  <meta property="og:url"           content="" />
  <meta property="og:type"          content="article" />
  <meta property="og:title"         content="" />
  <meta property="og:description"   content="" />
  <meta property="og:image"         content="" />
  <meta property="og:image:width"   content="1920"/>
  <meta property="og:image:height"   content="1079" />

{% endblock social_facebook %}


<section class="grid justify-center items-start place-items-center h-screen  relative  bg-black text-white p-8 bg-cover bg-center bg-no-repeat"
         style="background-image: url('{% static 'img/fondo_black_maca.png'%}');">
        <div class="container mx-auto rounded-lg p-8 w-11/12">
            <div class="text-effect text-7xl font-bold w-9/12">
                <span>M</span><span>a</span><span>x</span><span>i</span><span>m</span><span>i</span><span>z</span><span>a</span>
                <span class="space"></span>
                <span>t</span><span>u</span>
                <span class="space"></span>
                <span>e</span><span>x</span><span>p</span><span>l</span><span>o</span><span>s</span><span>i</span><span>v</span><span>i</span><span>d</span><span>a</span><span>d</span>
                <span class="space"></span>
                <span>y</span>
                <span class="space"></span>
                <span>r</span><span>e</span><span>n</span><span>d</span><span>i</span><span>m</span><span>i</span><span>e</span><span>n</span><span>t</span><span>o</span>
            </div>
{#            <h2 class="text-7xl font-bold">Maximiza tu explosividad y rendimiento</h2>#}
            <div class=" container mx-auto flex items-center justify-center rounded-lg p-8">
                <div class="w-full relative">

                </div>
                <div class="w-full text-center">
                    <p class="mt-4">Nuestra Black Maca llevará tus entrenamientos al siguiente nivel, siente la potencia en cada uno de tus entrenamientos</p>
                    <p>¿Estás listo para probarlo?</p>
                    <button class="bg-red-600 px-4 py-2 rounded mt-4 hover:bg-red-700">Ver más detalle</button>
                </div>
            </div>
        </div>

    </section>