{% extends "web/base.html" %}
{% load static %}
{% block social_facebook %}
  <meta property="og:url"           content="" />
  <meta property="og:type"          content="article" />
  <meta property="og:title"         content="" />
  <meta property="og:description"   content="" />
  <meta property="og:image"         content="" />
  <meta property="og:image:width"   content="1920"/>
  <meta property="og:image:height"   content="1079" />

{% endblock social_facebook %}

{% block css %}
<style>


</style>

{% endblock css %}
{% block content %}

  <!-- Hero Section Begin -->
<main>
<section>
    <div class="bg-black text-white py-16" style="background-image: url('{% static "img/nosotros/nosotros-bg.png" %}'); background-size: cover; background-position: center; height: 60vh;align-items: center;
    justify-content: center;
    display: flex;">
      <!-- Header -->
      <div class="container mx-auto text-center">

        <p class="text-lg md:text-xl mt-4">
          Una nueva forma de construir un estilo de vida saludable.
        </p>
          <h1 class="text-4xl md:text-5xl font-bold mb-4">
          SUPLEMENTOS DE ALTA CALIDAD DISEÑADOS <br> PARA EL ATLETA QUE LLEVAS DENTRO
        </h1>
      </div>
    </div>
</section>


<!-- Quiénes Somos -->
<section class="bg-white">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 grid grid-cols-1 md:grid-cols-3 gap-8 items-center">
    <div>
        <p class="font-arupala-grotesk font-black pt-4">Descubre</p>
      <h2 class="font-arupala-grotesk text-3xl font-black text-[#DE3704]">NUESTRA</h2>
        <h2 class="font-arupala-grotesk text-3xl font-black mb-4 text-[#DE3704]">ESENCIA</h2>

    </div>
      <div>
          <p class="text-gray-700 text-lg md:text-sm">
            Somos una marca de suplementación deportiva avalada por la FDA de EE. UU., que fusiona la más alta calidad con insumos naturales del Perú. Diseñados para desatar tu máximo rendimiento, nuestros productos son la clave para dominar tus metas y llevar tu desempeño al siguiente nivel.
          </p>
      </div>
    <div class="rounded-lg overflow-hidden">
      <img src="{% static "img/nosotros/Wall.png" %}" alt="¿Quiénes Somos?" class="w-full h-auto">
    </div>
  </div>
</section>

<!-- Reconocimientos -->
<section class="bg-gray-100 py-16">
  <div class="container px-4 sm:px-6 lg:px-8 mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
      <div>
          <h2 class="font-arupala-grotesk text-3xl font-black text-[#DE3704]">RECONOCIMIENTOS</h2>
          <p>
              En Demolitor, ofrecemos suplementos de calidad certificada, combinando insumos americanos con añadidos peruanos, como la maca negra, para crear fórmulas únicas. Cada producto es elaborado bajo estrictos estándares, diseñados para potenciar tu rendimiento, favorecer el desarrollo muscular y mejorar la recuperación, ayudándote a alcanzar tus objetivos como atleta.
          </p>
      </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- Reconocimiento 1 -->
      <div class="text-center">
        <img src={% static "img/nosotros/logo1.png" %} alt="Reconocimiento" class="mx-auto mb-4">
      </div>
      <!-- Reconocimiento 2 -->
      <div class="text-center">
        <img src={% static "img/nosotros/logo2.png" %} alt="Reconocimiento" class="mx-auto mb-4">
      </div>
    </div>
  </div>
</section>

<!-- Productos -->
<section class="bg-orange-500 text-white" style="background-image: url('{% static "img/nosotros/bg-productos.png" %}'); background-size: cover; background-position: center; height: 100vh; display: flex; flex-direction: column; justify-content: space-between;">
  <!-- Contenido superior -->
  <div class="container mx-auto text-center mt-8">
    <h2 class="mb-8 font-arupala-grotesk text-3xl font-black">PRODUCTOS</h2>
    <p class="text-lg mb-8">
      Explora nuestra línea de productos diseñados para potenciar tu rendimiento. Cada fórmula combina innovación, insumos de calidad y un compromiso con resultados reales, adaptados a tus metas.
    </p>
  </div>

  <!-- Botón en la parte inferior -->
  <div class="container mx-auto text-center mb-8">
    <button class="mt-8 bg-white text-[#DE3704] font-arupala-grotesk font-black px-6 py-3 rounded-lg hover:bg-gray-800">
      Ver más
    </button>
  </div>
</section>

<!-- Puntos de Venta -->
<section class="bg-white py-16">
  <div class="container mx-auto text-center overflow-x-auto">
    <h2 class="text-3xl font-black mb-8 text-[#DE3704] font-arupala-grotesk">PUNTOS DE VENTA</h2>
      <p class="text-center">Encuentra nuestros productos en tiendas físicas y plataformas en línea.</p>
    <div class="grid grid-cols-4 md:grid-cols-8 gap-12 py-8 marquee">
      <img src="{% static "img/partners/mifarma-gray.png" %}" alt="Galería" class="rounded-lg m-auto">
      <img src="{% static "img/partners/inkafarma-gray.png" %}" alt="Galería" class="rounded-lg m-auto">
      <img src="{% static "img/partners/wong-gray.png" %}" alt="Galería" class="rounded-lg m-auto">
      <img src="{% static "img/partners/organa-gray.png" %}" alt="Galería" class="rounded-lg m-auto">
        <img src="{% static "img/partners/selltech-gray.png" %}" alt="Galería" class="rounded-lg m-auto">
        <img src="{% static "img/partners/kllao-gray.png" %}" alt="Galería" class="rounded-lg m-auto">
        <img src="{% static "img/partners/labnutrition-gray.png" %}" alt="Galería" class="rounded-lg m-auto">
        <img src="{% static "img/partners/sanahoria-gray.png" %}" alt="Galería" class="rounded-lg m-auto">
    </div>
      <div class="grid grid-cols-4 md:grid-cols-8 gap-12 py-8 marquee">
          <img src="{% static "img/partners/tech-nutrition-gray.png" %}" alt="Galería" class="rounded-lg m-auto">
        <img src="{% static "img/partners/organic-fit-gray.png" %}" alt="Galería" class="rounded-lg m-auto">
        <img src="{% static "img/partners/anden-natural-gray.png" %}" alt="Galería" class="rounded-lg m-auto">
        <img src="{% static "img/partners/feria-nativa-gray.png" %}" alt="Galería" class="rounded-lg m-auto">
        <img src="{% static "img/partners/wellness-gray.png" %}" alt="Galería" class="rounded-lg m-auto">
        <img src="{% static "img/partners/miski-foods-gray.png" %}" alt="Galería" class="rounded-lg m-auto">
        <img src="{% static "img/partners/molina-gray.png" %}" alt="Galería" class="rounded-lg m-auto">
    </div>
  </div>
</section>

<!-- Galería -->
<section class="bg-black">
  <div class="mx-auto overflow-x-auto">
    <div class="grid sm:grid-cols-2 md:grid-cols-4 marquee">
        <img src="{% static "img/man-working-out-gym.jpg" %}" alt="Galería" class="m-auto">
        <img src="{% static "img/man-working-out-gym.jpg" %}" alt="Galería" class="m-auto">
        <img src="{% static "img/man-working-out-gym.jpg" %}" alt="Galería" class="m-auto">
        <img src="{% static "img/man-working-out-gym.jpg" %}" alt="Galería" class="m-auto">
    </div>
      <div class="grid sm:grid-cols-2 md:grid-cols-4 marquee">
        <img src="{% static "img/man-working-out-gym.jpg" %}" alt="Galería" class="m-auto">
        <img src="{% static "img/man-working-out-gym.jpg" %}" alt="Galería" class="m-auto">
        <img src="{% static "img/man-working-out-gym.jpg" %}" alt="Galería" class="m-auto">
        <img src="{% static "img/man-working-out-gym.jpg" %}" alt="Galería" class="m-auto">
    </div>
  </div>
</section>
</main>




{% endblock content %}
{% block js %}


{% endblock js %}
