{% load static %}

<section class="bg-black p-8 h-max" style="background-image: url('{% static 'img/banner/background2.png' %}'); background-size: cover; background-position: center;">
  <div class="container mx-auto py-8">
    <!-- Cabecera para las categorías -->
    <div class="flex flex-col md:flex-row justify-center items-center space-y-4 md:space-y-0 md:space-x-8">
        <h2 class="header_text text-xl md:text-2xl lg:text-3xl font-normal px-4 md:px-8 text-white cursor-pointer text-shadow-effect"
            onclick="ToggleWithDataAttr(event, 'data-oferta')">OFERTAS</h2>
        <h2 class="header_text text-xl md:text-2xl lg:text-3xl font-normal text-white px-4 md:px-8 cursor-pointer text-shadow-effect"
            onclick="ToggleWithDataAttr(event, 'data-novedad')">NOVEDADES</h2>
        <h2 class="header_text text-xl md:text-2xl lg:text-3xl font-normal text-white px-4 md:px-8 cursor-pointer text-shadow-effect"
            onclick="ToggleWithDataAttr(event, 'data-packs')">PACKS</h2>
    </div>
  </div>


  <div class="container mx-auto mt-8">
  <!-- Grid para pantallas grandes -->
    <div class="container mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mt-8 hidden" data-oferta>
      {% for product_oferta in ofertas %}
        <div class=" p-4 rounded-md block hidden md:block">
          <img src="{{ product_oferta.image.url }}" alt="slide 1" class="w-full h-auto object-cover rounded-md">
            <div class="text-center py-4 text-white">
              <div class="py-4 text-white text-2xl">{{ product_oferta.name }}</div>
              <div class="flex flex-col items-center justify-center">
                {% if product_oferta.price_discount %}
                    <div class="grid grid-cols-2 gap-4 text-center">
                        <p class="text-white text-2xl line-through">S/. {{ product_oferta.price }}</p>
                        <p class="text-white text-2xl">S/. {{ product_oferta.price_discount }}</p>
                    </div>
                {% else %}
                    <div class="grid grid-cols-1 gap-4 text-center">
                        <p class="text-white text-2xl">S/. {{ product_oferta.price }}</p>
                    </div>
                {% endif %}
                <a href="{% url 'core:product_detail' product_oferta.uuid %}">
                  <button class="mt-4 text-white bg-red-500 px-8 py-3 rounded-lg hover:bg-red-700 transition-colors duration-300">
                      Ver más
                  </button>
                </a>
              </div>
            </div>
      </div>
      {% endfor %}
        <!-- Grid para pantallas chicas -->
        <div class="swiper-container two md:hidden mt-8">
            <div class="swiper-wrapper">
                {% for product_oferta in ofertas %}
                    <div class="swiper-slide">
                        <div class="slider-image">
                            <img src="{{ product_oferta.image.url }}" alt="slide 3">
                            <div class="text-center py-4">
                                <div class="py-4">{{ product_oferta.name }}</div>
                                <div class="flex items-center justify-center">
                                    {% if product_oferta.price_discount %}
                                        <div class="grid grid-cols-2 gap-4 text-center">
                                            <p class="text-black text-2xl line-through">S/. {{ product_oferta.price }}</p>
                                            <p class="text-black text-2xl">S/. {{ product_oferta.price_discount }}</p>
                                        </div>
                                    {% else %}
                                        <div class="grid grid-cols-1 gap-4 text-center">
                                            <p class="text-black text-2xl">S/. {{ product_oferta.price }}</p>
                                        </div>
                                    {% endif %}
                                </div>
                                <a href="{% url 'core:product_detail' product_oferta.uuid %}">
                                    <button class="mt-4 text-white bg-[rgb(222,55,5)] px-8 py-3 rounded-lg hover:bg-red-700 transition-colors duration-300">
                                        Ver más
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="hidden" data-novedad >
        <div class="container mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mt-8">
            {% for product_novedad in novedades %}
            <div class=" p-4 rounded-md hidden md:block">
                <img src="{{ product_novedad.image.url }}" alt="slide 1" class="w-full h-auto object-cover rounded-md">
                <div class="text-center py-4 text-white">
                  <div class="py-4 text-white text-2xl">{{ product_novedad.name }}</div>
                  <div class="flex flex-col items-center justify-center">
                    {% if product_novedad.price_discount %}
                        <div class="grid grid-cols-2 gap-4 text-center">
                            <p class="text-white text-2xl line-through">S/. {{ product_novedad.price }}</p>
                            <p class="text-white text-2xl">S/. {{ product_novedad.price_discount }}</p>
                        </div>
                    {% else %}
                        <div class="grid grid-cols-1 gap-4 text-center">
                            <p class="text-white text-2xl">S/. {{ product_novedad.price }}</p>
                        </div>
                    {% endif %}
                    <a href="{% url 'core:product_detail' product_novedad.uuid %}">
                      <button class="mt-4 text-white bg-red-500 px-8 py-3 rounded-lg hover:bg-red-700 transition-colors duration-300">
                          Ver más
                      </button>
                    </a>
                  </div>
                </div>
              </div>
          {% endfor %}
        </div>

        <!-- Grid para pantallas chicas -->
        <div class="swiper-container two block md:hidden mt-8">
            <div class="swiper-wrapper">
                {% for product_novedad in novedades %}
                    <div class="swiper-slide">
                        <div class="text-white">
                            <img src="{{ product_novedad.image.url }}" alt="slide 3">
                            <div class="text-center py-4">
                                <div class="py-4 text-2xl">{{ product_novedad.name }}</div>
                                <div class=" items-center justify-center">
                                    {% if product_novedad.price_discount %}
                                        <div class="grid grid-cols-2 gap-4 text-center">
                                            <p class="text-white text-2xl line-through">S/. {{ product_novedad.price }}</p>
                                            <p class="text-white text-2xl">S/. {{ product_novedad.price_discount }}</p>
                                        </div>
                                    {% else %}
                                        <div class="grid grid-cols-1 gap-4 text-center">
                                            <p class=" text-2xl">S/. {{ product_novedad.price }}</p>
                                        </div>
                                    {% endif %}
                                </div>
                                <a href="{% url 'core:product_detail' product_novedad.uuid %}">
                                    <button class="mt-4 text-white bg-[rgb(222,55,5)] px-8 py-3 rounded-lg hover:bg-red-700 transition-colors duration-300">
                                        Ver más
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mt-8 hidden" data-packs>
      {% for product_packs in packs %}
      <div class=" p-4 rounded-md hidden md:block">
          <img src="{{ product_packs.image.url }}" alt="slide 1" class="w-full h-auto object-cover rounded-md">
            <div class="text-center py-4 text-white">
              <div class="py-4 text-white text-2xl">{{ product_packs.name }}</div>
              <div class="flex flex-col items-center justify-center">
                {% if product_packs.price_discount %}
                    <div class="grid grid-cols-2 gap-4 text-center">
                        <p class="text-white text-2xl line-through">S/. {{ product_packs.price }}</p>
                        <p class="text-white text-2xl">S/. {{ product_packs.price_discount }}</p>
                    </div>
                {% else %}
                    <div class="grid grid-cols-1 gap-4 text-center">
                        <p class="text-white text-2xl">S/. {{ product_packs.price }}</p>
                    </div>
                {% endif %}
                <a href="{% url 'core:product_detail' product_packs.uuid %}">
                  <button class="mt-4 text-white bg-red-500 px-8 py-3 rounded-lg hover:bg-red-700 transition-colors duration-300">
                      Ver más
                  </button>
                </a>
              </div>
            </div>
      </div>
      {% endfor %}
        <!-- Grid para pantallas chicas -->
        <div class="swiper-container two block md:hidden mt-8">
            <div class="swiper-wrapper">
                {% for product_packs in packs %}
                    <div class="swiper-slide">
                        <div class="slider-image">
                            <img src="{{ product_packs.image.url }}" alt="slide 3">
                            <div class="text-center py-4">
                                <div class="py-4">{{ product_packs.name }}</div>
                                <div class="flex items-center justify-center">
                                    {% if product_packs.price_discount %}
                                        <div class="grid grid-cols-2 gap-4 text-center">
                                            <p class="text-black text-2xl line-through">S/. {{ product_packs.price }}</p>
                                            <p class="text-black text-2xl">S/. {{ product_packs.price_discount }}</p>
                                        </div>
                                    {% else %}
                                        <div class="grid grid-cols-1 gap-4 text-center">
                                            <p class="text-black text-2xl">S/. {{ product_packs.price }}</p>
                                        </div>
                                    {% endif %}
                                </div>
                                <a href="{% url 'core:product_detail' product_packs.uuid %}">
                                    <button class="mt-4 text-white bg-[rgb(222,55,5)] px-8 py-3 rounded-lg hover:bg-red-700 transition-colors duration-300">
                                        Ver más
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>



  </div>
</section>


{% block js %}


<script>
document.addEventListener("DOMContentLoaded", function () {
    // Al cargar, activa el tab "novedades" por defecto
    const defaultTabContent = document.querySelector(`[data-novedad]`);
    const defaultTabHeader = document.querySelector(`[onclick="ToggleWithDataAttr(event, 'data-novedad')"]`);

    if (defaultTabContent && defaultTabHeader) {
        defaultTabContent.classList.remove("hidden");
        defaultTabHeader.classList.add("text-shadow-effect-active");
    }
});

function ToggleWithDataAttr(event, dataAttr) {
    const clickedTabHeader = event.target;
    const targetTabContent = document.querySelector(`[${dataAttr}]`);
    const allTabContents = document.querySelectorAll(`[data-oferta], [data-novedad], [data-packs]`);
    const allTabHeaders = document.querySelectorAll(".header_text");

    // Si ya está en el tab activo, no hacer nada
    if (clickedTabHeader.classList.contains("text-shadow-effect-active")) {
        return;
    }

    // Ocultar todos los contenidos de tab y desactivar todos los headers de tab
    allTabContents.forEach(content => content.classList.add("hidden"));
    allTabHeaders.forEach(header => header.classList.remove("text-shadow-effect-active"));

    // Activar el nuevo tab y mostrar su contenido
    targetTabContent.classList.remove("hidden");
    clickedTabHeader.classList.add("text-shadow-effect-active");
}

</script>
{% endblock js %}