{% load static %}


<section class="bg-gray-100 p-8">
    <div class="container mx-auto text-center">
        <h2 class="text-4xl font-bold text-black delivery">Elige según tu objetivos</h2>
        <div class="grid grid-cols-4 gap-8 mt-8">
          <div class="rounded-lg ">
            <img src="{% static 'img/demolitor-musculo.png' %}" alt="Músculo" class="w-full h-[200px] object-cover rounded-lg cursor-pointer hover:shadow-custom transition-shadow duration-300">
          </div>
          <div class="rounded-lg transition-shadow duration-300 cursor-pointer hover:shadow-custom">
            <img src="{% static 'img/demolitor-fitness.png' %}" alt="Fitness" class="w-full h-[250px] object-cover rounded-lg">
          </div>
          <div class="rounded-lg transition-shadow duration-300 cursor-pointer hover:shadow-custom">
            <img src="{% static 'img/demolitor-salud.png' %}" alt="Salud" class="w-full h-[250px] object-cover rounded-lg">
          </div>
          <div class="rounded-lg transition-shadow duration-300 cursor-pointer hover:shadow-custom">
            <img src="{% static 'img/demolitor-sport.png' %}" alt="Sport" class="w-full h-[250px] object-cover rounded-lg">
          </div>
        </div>
    </div>
</section>