{% load static %}

<section class="bg-[#ECECEC]  h-max p-10">
    <h2 class="text-5xl font-bold text-black text-center font-avenir p-10">Nuestros productos variados</h2>
    <div class="hidden md:block container mx-auto py-16">
        <div class="flex justify-center space-x-4 overflow-x-auto md:overflow-hidden flex-nowrap items-center text-black pr-4 md:pr-0 scrollbar-hide">
            {% for category in dynamic_data.category_company.all %}
                <h2 class="text-xl md:text-xl lg:text-2xl font-light px-4 variety-effect whitespace-nowrap font-avenir flex-shrink-0">
                    <a href="/products/?category_uuid={{ category.uuid }}" class="">{{ category.name|upper }}</a>
                </h2>
            {% endfor %}
        </div>
    </div>

    <div class="hidden md:flex container mx-auto grid justify-center grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mt-8">
        {% for best_seller in best_sellers %}
        <div class="p-4 rounded-md">
            <img src="{{ best_seller.image.url }}" alt="slide 1" class="w-full h-auto object-cover rounded-md">
            <div class="text-center py-4 text-black">
                <div class="py-4 text-2xl">{{ best_seller.name }}</div>
                <div class="flex flex-col items-center justify-center">
                    {% if best_seller.price_discount %}
                        <div class="grid grid-cols-2 gap-4 text-center">
                            <p class=" text-2xl line-through price">S/. {{ best_seller.price }}</p>
                            <p class=" text-2xl price">S/. {{ best_seller.price_discount }}</p>
                        </div>
                    {% else %}
                        <div class="grid grid-cols-1 gap-4 text-center">
                            <p class=" text-2xl price">S/. {{ best_seller.price }}</p>
                        </div>
                    {% endif %}
                    <a href="{% url 'core:product_detail' best_seller.slug %}">
                        <button class="mt-4 text-white bg-[rgb(222,55,5)] px-8 py-3 rounded-lg hover:bg-red-700 transition-colors duration-300">
                            Ver más
                        </button>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="md:hidden block py-5">
    <div id="default-carousel" class="relative w-full lg:w-1/2" data-carousel="slide">
     <!-- Carousel wrapper -->
    <div class="relative h-[60vh] overflow-hidden rounded-lg md:h-[80vh]">
            {% for best_seller in best_sellers %}
            	<div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <div class="slider-image">
                        <img src="{{ best_seller.image.url }}" alt="slide 3">
                        <div class="text-center py-4">
                            <div class="py-4 text-2xl">{{ best_seller.name }}</div>
                            <div class="flex items-center justify-center">
                                {% if best_seller.price_discount %}
                                    <div class="grid grid-cols-2 gap-4 text-center">
                                        <p class="text-black text-2xl line-through price">S/. {{ best_seller.price }}</p>
                                        <p class="text-black text-2xl price">S/. {{ best_seller.price_discount }}</p>
                                    </div>
                                {% else %}
                                    <div class="grid grid-cols-1 gap-4 text-center">
                                        <p class="text-black text-2xl price">S/. {{ best_seller.price }}</p>
                                    </div>
                                {% endif %}

                            </div>
                            <a href="{% url 'core:product_detail' best_seller.slug %}">
                                <button class="mt-4 text-white bg-[rgb(222,55,5)] px-8 py-3 rounded-lg hover:bg-red-700 transition-colors duration-300">
                                    Ver más
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- Slider controls -->
        <div class="flex justify-center mt-4 md:absolute md:top-1/2 md:transform md:-translate-y-1/2 md:w-full md:justify-between md:px-8 z-50 gap-12">
            <!-- Previous Button -->
            <button type="button" class="flex items-center justify-center w-10 h-10 rounded-full bg-black bg-opacity-50 text-white hover:bg-opacity-70 md:absolute md:-left-2 z-50" data-carousel-prev>
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                </svg>
                <span class="sr-only">Previous</span>
            </button>

            <!-- Next Button -->
            <button type="button" class="flex items-center justify-center w-10 h-10 rounded-full bg-black bg-opacity-50 text-white hover:bg-opacity-70 md:absolute md:-right-2 z-50" data-carousel-next>
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <span class="sr-only">Next</span>
            </button>
        </div>
    </div>

    </div>


    <div class="flex items-center justify-center">
        <a href="{% url 'core:product_list' %}" class="text-lg sm:text-xl md:text-2xl text-white bg-[rgb(222,55,5)] px-4 py-2 sm:px-6 sm:py-3 md:px-8 md:py-4 rounded-[10px] mt-2 sm:mt-3 md:mt-4 w-full sm:w-auto text-center hover:bg-red-700">
            Ver todos los productos
        </a>
    </div>
</section>
